
<launch>
      <arg name="ns" default="st" />


      <group ns="$(arg ns)">
      <node name="cartographer_node" pkg="cartographer_ros"
            type="cartographer_node"
            args="-configuration_directory $(find cartographer_ros)/configuration_files
                  -configuration_basename 2d_online_localization.lua
                  -load_state_filename $(find robify_nav)/map/map.pbstream"
            output="screen"  />

      <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
            type="cartographer_occupancy_grid_node"
            args="-resolution 0.02 -pure_localization 1"
            />
      </group>


</launch>
