
<launch>
      <arg name="ns" default="st" />
      <arg name="map_file" default="$(find robify_nav)/map/map.yaml" />
      
      <node name="map_server" pkg="map_server"
            type="map_server"
            args="$(arg map_file)" />
      <!-- <arg name="ns" default="r1" />
      <arg name="map_file" default="$(find robify_nav)/map/map.yaml" />
      
      <node name="map_server" pkg="map_server"
            type="map_server"
            args="$(arg map_file)" />
      <param name="odom_frame" value="$(arg ns)/odom"/>
      <param name="base_frame" value="$(arg ns)/base_link"/>
      <param name="published_frame" value= "$(arg ns)/base_footprint"/>
      <param name="tracking_frame" value="$(arg ns)/imu_link"/>
      <param name="/use_sim_time" value="false" /> -->

      <group ns="$(arg ns)">
      <node name="cartographer_node" pkg="cartographer_ros"
            type="cartographer_node"
            args="-configuration_directory $(find cartographer_ros)/configuration_files
                  -configuration_basename 2d_online_localization.lua
                  -load_state_filename $(find robify_nav)/map/map.pbstream"
            output="screen"  />

      <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
            type="cartographer_occupancy_grid_node"
            args="-resolution 0.02 -pure_localization 1"
            />
      </group>
      <!-- Launch AMCL for localization -->
      <!-- <group ns="$(arg ns)">
      <node name="amcl" pkg="amcl" type="amcl" respawn="false" />
                  <param name="odom_frame_id"  value="$(arg ns)/odom"/>
                  <param name="base_frame_id"  value="$(arg ns)/base_footprint"/>
                  <remap from="map" to="/map"/>
      </group> -->


</launch>